version: '3.5'

services:
  app:
    build: ./infra
    init: true
    ports:
      - 3000:3000
    expose:
      - 3000
    working_dir: /app
    depends_on:
      - kvs
  kvs:
    image: redis:7.0.4
    ports:
      - 6379:6379
    expose:
      - 6379
