version: '3.5'

services:
  frontend:
    build: ./frontend
    ports:
      - 3000:80
    expose:
      - 3000
    volumes:
      - ./frontend:/usr/share/nginx/html
  backend:
    build: ./backend
    init: true
    ports:
      - 80:3000
    expose:
      - 80
    volumes:
      - ./backend:/app
      - node_modules:/app/node_modules
    depends_on:
      - kvs
  kvs:
    image: redis:7.0.4
    ports:
      - 6379:6379
    expose:
      - 6379

volumes:
  node_modules:
