version: '3.5'

services:
  frontend:
    image: nginx:1.25.3
    ports:
      - 80:80
    expose:
      - 80
    volumes:
      - ./frontend:/usr/share/nginx/html
  backend:
    build: ./backend
    platform: linux/amd64
    init: true
    entrypoint:
      - npm
      - start
    ports:
      - 3000:3000
    expose:
      - 3000
    volumes:
      - ./backend:/app
      - node_modules:/app/node_modules
    depends_on:
      - adapter
  adapter:
    image: redis:7.0.4
    ports:
      - 6379:6379
    expose:
      - 6379

volumes:
  node_modules:
